/* Header Section */

.container-fluid {
  height: 150px;
  background: linear-gradient(to bottom, #005071, #317a9b);
}

form {
  text-align: center;
  transform: translateY(50%);
}

input {
  height: 50px;
  width: 300px;
  background-color: #fff;
  border-width: 0px;
  border-radius: 5px;
  text-align: center;
}

#location {
  font-size: 20px;
}

span {
  margin: 0px 10px;
  color: #fff;
  font-size: 20px;
}

#submit-button {
  margin: 15px auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  height: 25px;
  width: 75px;
}

/* Weather Info Section */

#weather-info {
  text-align: center;
}

ul {
  list-style-type: none;
}

.city {
  font-size: 50px;
}

.temp {
  font-size: 100px;
  padding: 0px;
}

.description {
  font-size: 35px;
}

.wind {
  font-size: 25px;
}
